---
import { Image } from "astro:assets";
import DesktopVisualizer from "../../svgs/desktop-visualizer.astro";
import MobileVisualizer from "../../svgs/mobile-visualizer.astro";
import Pause from "../../svgs/pause.svg?raw";
import Play from "../../svgs/play.svg?raw";

type Props = {
  image: string;
  label: string;
  title: string;
  sound: string;
};

const { image, label, title, sound } = Astro.props;
---

<div
  class="px-5 py-6 text-center rounded-3xl border border-[#565656] flex flex-col xl:px-0 xl:py-0 xl:flex-row xl:gap-[24px] xl:text-left"
>
  <Image
    src={image}
    alt=""
    height="160"
    width="160"
    class="w-[239px] h-full object-cover rounded-3xl hidden xl:block"
  />
  <div class="xl:py-[35px] xl:px-[30px]">
    <p
      class="text-[#8C6546] uppercase tracking-[0.56px] text-sm leading-[30px] font-semibold"
    >
      {label}
    </p>
    <p
      class="mt-[5px] capitalize text-[28px] leading-[36px] xl:text-[36px] xl:leading-[46px]"
    >
      {title}
    </p>
    <Image
      src={image}
      alt=""
      height="160"
      width="160"
      class="w-[160px] h-[160px] mx-auto my-[29px] object-cover rounded-3xl xl:hidden"
    />
    <p class="flex-grow xl:text-xl xl:mt-4 xl:leading-[30px]"><slot /></p>
    <div data-sound={sound} class="mt-5 flex items-center gap-4">
      <button
        class="hidden pause-btn h-[54px] w-[54px] flex-shrink-0 bg-[#EEECDA] transition hover:bg-[#E4DFC0] rounded-full justify-center items-center"
      >
        <Fragment set:html={Pause} />
      </button>
      <button
        class="play-btn h-[54px] w-[54px] flex-shrink-0 bg-[#EEECDA] transition hover:bg-[#E4DFC0] rounded-full flex justify-center items-center"
      >
        <Fragment set:html={Play} />
      </button>
      <div class="w-full cursor-pointer">
        <MobileVisualizer id={`${sound}-mobile`} />
        <DesktopVisualizer id={`${sound}-desktop`} />
      </div>
    </div>
  </div>
</div>
